@font-face{
    font-family: 'Chomsky';
    src: url('../fonts/Chomsky.otf');
    }



  /* HEAD*/



  .navbar-brand{
/* position: absolute;
left: 75px; */
font-family: Chomsky;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 66px;

color: #000000;
  }
  .nav-link{
    
    margin-right: 50px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
  }
  /* FIRE */
.black_txt_fire{
    display: initial;
    background:black;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: Chomsky;

   
  }

  .black_txt_fire:hover{
    
    background:url("../img/fire2.gif");
    background-position-y: -5px;
    background-size: contain;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
   
    
    -webkit-text-stroke: 2px black;
    
  }


  .white_txt_fire{
    display: initial;
    background:white;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: Chomsky;
  
  }

  .white_txt_fire:hover{
    background:url("../img/fire2.gif");
    background-size: contain;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    

    
    -webkit-text-stroke: 2px white;
    
  }

  /* Mein */
  /* Block_1 */
  .block_1{
    
    background: #C82929;
  }
  .down{
    position: relative;
    bottom: 10px;
    left: calc(50% - 62px/2);
    animation: MoveUpDown 1s linear infinite;
  }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }
  .down:hover{
    animation: none;
  }
  .text_main{
    cursor: default;
    margin-top: 20vh;
  }
  .main_btn{

    justify-content: center;
    margin-top: 50px;
    text-align: center;
    height: 55px;
    border: 2px solid #000000;
    border-radius: 90px;
    margin-bottom: 150px;
    
  }
  .main_btn p{
 
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    
    line-height: 50px;
    letter-spacing: 0.015em;
    
    color: #000000;
  }
  .main_btn img{
    width: 45px;
    height: 45px;
    margin-left: 25px;
    margin-right: 25px;
  }
  h1{
    font-family: Chomsky;
    font-style: normal;
    font-weight: normal;
    font-size: 101px;
    
  }
  h2{
    
    font-family: Chomsky;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    
  }

  body{
      background: #161616;
  }




 